*, 
*::before,
*::after {
    box-sizing: border-box;
}

.page {
    height: 100%;
}

.page__body {
    @include font-Montserrat();
    font-style: normal;
    font-size: 24px;
    line-height: 1.5;
    background-color: $color-white;
    color: $color-blue;

    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    max-width: 1700px;
    padding: 0 20px;
    margin: 0 auto;
}

.page__title {
    @include font-CoreSans65();
    font-size: 80px;
    line-height: 1;
    font-weight: 600;
    color: $color-orange;
    margin-top: 60px;
    margin-bottom: 60px;
    @media (max-width: $bp-l-max) {
        font-size: 64px;
    }
    @media (max-width: $bp-ipad-max) {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 40px;
    }
    @media (max-width: $bp-sm-max) {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 30px;
    }
}

.page__section {
    margin-bottom: 150px;
    @media (max-width: $bp-l-max) {
        margin-bottom: 100px;
    }
    @media (max-width: $bp-sm-max) {
        margin-bottom: 80px;
    }
}

.liner__btn {
    &-download {
        display: inline-flex;
        padding: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        
        background-color: transparent;
        cursor: pointer;

        @media (max-width: $bp-l-max) {
            font-size: 14px;
        }

        &:hover, &:focus {
            border-bottom: none;
        }
    }
    &-img {
        width: 26px;
        height: 33px;
        margin-right: 20px;
        @media (max-width: $bp-l-max) {
            margin-right: 10px;
        }
    }
    &-text {
        border-bottom: 1px solid $color-orange;
        align-self: center;
    }
}