<div class="contacts-form__wrapper">
    <div class="container">
        <div class="contacts-form__inner">
            <div class="contacts-form__title">
                Заказать консультацию
            </div>
            <div class="contacts-form__text">
                Заполните информацию и наш<br>менеджер Вам перезвонит
            </div>
            <form class="contacts-form form" action="">
                <div class="form__input-wrapper">
                    <label class="form__label">
                        Ваше имя
                        <input class="form__input" type="text" placeholder="Введите Ваше имя" maxlength="15" required>
                    </label>
                    <label class="form__label">
                        Ваше телефон
                        <input class="form__input" type="tel" placeholder="Введите Ваше телефон" maxlength="15" required>
                    </label>
                </div>

                <button class="link-with-arrow" type="submit">
                    <span class="link-with-arrow__text">отправить заявку</span>
                    <svg class="link-with-arrow__icon" width="23" height="8" viewBox="0 0 23 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.8769 4.35355C22.0721 4.15829 22.0721 3.84171 21.8769 3.64645L18.6949 0.464466C18.4996 0.269204 18.183 0.269204 17.9878 0.464466C17.7925 0.659728 17.7925 0.976311 17.9878 1.17157L20.8162 4L17.9878 6.82843C17.7925 7.02369 17.7925 7.34027 17.9878 7.53553C18.183 7.7308 18.4996 7.7308 18.6949 7.53553L21.8769 4.35355ZM0 4.5H21.5233V3.5H0V4.5Z" fill="#E7943E"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>