.header {
    padding: 15px 0;
    background-color: rgba($color: $color-gray, $alpha: .35);
    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 17px;
    }
    &__right {
        display: flex;
        align-items: center;
        column-gap: 40px;
        @media (max-width: $bp-sm-max) {
            flex-direction: column;
        }
        
        &-wrap {
            display: flex;
            align-items: center;
            column-gap: 40px;
        }
    }

    &__social {
        @media (max-width: $bp-sm-max) {
            order: -1;
        }
    }
}

.logo {
    @include link-normalize();
    width: 98px;
    height: 94px;
    @media (max-width: $bp-l-max) {
        width: 71px;
        height: 68px;
    }
}

.phone {
    @include link-normalize();
    @media (max-width: $bp-sm-max) {
        width: 100%;
    } 
}