.link-with-arrow {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid $color-orange;
    @media (max-width: $bp-l-max) {
        font-size: 14px;
    }

    &:hover, &:focus {
        border-bottom: none;
    }
    
    &__text {
        color: $color-orange;
        &:hover, &:focus {
            text-decoration: none;
            color: lighten($color: $color-orange, $amount: 10%);
        }

        &--black {
            color: $color-blue;
            &:hover, &:focus {
                text-decoration: none;
                color: darken($color: $color-blue, $amount: 10%);
            }
        }
    }
}