.social {
    display: flex;
    @include list-normalize();

    &__item {
        width: 16px;
        height: 16px;
        & + & {
            margin-left: 15px;
        }
    }

    &__link {
        @include link-normalize();
        &:focus > .social__icon {
            .toFill {
                transition: fill .3s linear;
                fill: $color-orange;
            }
            .toFill--mobile {
                transition: fill-opacity .3s linear;
                fill-opacity: 1;
            }
        }
    }

    &__icon {
        &:hover {
            .toFill {
                transition: fill .3s linear;
                fill: $color-orange;
            }
            .toFill--mobile {
                transition: fill-opacity .3s linear;
                fill-opacity: 1;
            }
        }
    }
}