.social {
    display: flex;
    column-gap: 15px;
    @include list-normalize();

    &--desktop {
        flex-direction: column;
        row-gap: 60px;
        position: absolute;
        top: 30%;
        left: -50px;
        transform: translateX(-50%);
        @media (max-width: $bp-xl-max) {
            left: -40px;
        }
        @media (max-width: $bp-l-max) {
            left: -30px;
        }
        @media (max-width: $bp-ipad-max) {
            left: -25px;
        }
        @media (max-width: $bp-sm-max) {
            display: none;
        }
    }

    &__item {
        display: inline-block;
        width: 16px;
        height: 16px;
    
        vertical-align: middle;
        text-align: center;
        // & + & {
        //     margin-left: 15px;
        // }
    }

    &__link {
        @include link-normalize();
        display: block;
        width: 16px;
        height: 16px;
        font-size: 16px;
        line-height: 1;
    
        &:focus > .social__icon {
            .toFill {
                transition: fill .3s linear;
                fill: $color-orange;
            }
            .toFill--mobile {
                transition: fill-opacity .3s linear;
                fill-opacity: 1;
            }
        }
    }

    &__icon {
        &:hover {
            .toFill {
                transition: fill .3s linear;
                fill: $color-orange;
            }
            .toFill--mobile {
                transition: fill-opacity .3s linear;
                fill-opacity: 1;
            }
        }
    }
}